* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  
  }
  
  
  body {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 90vh;
    background: url(https://images.pexels.com/photos/251603/pexels-photo-251603.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(0, 0, 0, 0.621);
    text-shadow: #ccc;
  }
  
  
  body.dark-mode {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.741);
  }
  
  
  /* div "menu" */
  header {
    height:fit-content;
    background: rgba(117, 117, 117, 0.733);
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    flex-wrap: inherit;
  }
  
  header.dark-mode {
    height:fit-content;
    background: rgba(47, 47, 47, 0.733);
    position:sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    flex-wrap: inherit;
  }
  
  /*tentativa*/
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items: center;
    justify-content: center;
  }
  
  nav li {
    display: inline-block;
    position: relative;
    
    padding: 0px;
    font-size: 16px;
    height: 60px;
    width: 120px;
    align-items: center;
    justify-content: center;
  }
  
  
  nav ul li:hover {
    background-color: #5e676c0b;
    border-width: 2px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.179);
  }
  
  nav ul li:hover > a{
    color: lightgray;
    align-items: center;
    justify-content: center;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    background-color: #959595ca;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.489);
    z-index: 1;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav a {
    display: block;
    color: rgba(0, 0, 0, 0.568);
    padding: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  
  
  nav ul ul li {
    display: block;
  }
  
  
  .dark-letters{
    color: rgba(255, 255, 255, 0.753);
  }
  
  
  article.primeiro {
    /* definindo altura e cor */
    height: 90vh;
    padding: 0 4vw;
    text-align: center;
    font-size: 2rem;
  }
  
  
  article.dark-mode{
    height: 90vh;
    background: linear-gradient(to bottom, #adfbff3f 0%, #60337d7d 100%);
    padding: 0 4vw;
    text-align: center;
    font-size: 2rem;
  }
  
  
  #button
    {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #sound-button {
    background-color: rgba(240, 248, 255, 0);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  #bimba {
    background-color: rgba(240, 248, 255, 0);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  article  > {
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #949494;
    box-shadow: inset;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  
  


  i{
    font-size: 20px;
  }


  .image-container {
    position: relative;
    display: inline-block;
  }
  
  #caption {
    background-color: #ffffff2e;
    font-size: 16px;
    color: #333;
    margin: 20px;
  }
  
  #caption-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  #submit-caption {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fa8900ca;
    color: rgb(14, 14, 14);
    border: none;
  }



  #calculadora{
    height: 200px;
  }


  #user{
    height: 200px;
  }


  #imagem{
    height: 600px;
   
  }

  .image-container{
    height: 300px;
    width: 600px;
    background: url(memeforpwshark.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
  }
  
  footer {
    /* definindo altura e cor */
    height: 10vh;
    background: rgba(0, 0, 0, 0.334);
    color: white;
  }
  
  
  
  
  
  
  
  
  
  
  