* {
    padding: 0; 
    margin: 0;
    font-family: monospace;
  }
  
  
  body > * {  
    /* centrando o <p> dos divs */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
  
  /* div "menu" */
  header {
    /* O menu está sticky e ocupa 10vh da altura do viewport */
    height: 10vh; 
    background: black;
    color: white;
    position: sticky;
    top: 0;  
    
    display:flex;
    justify-content: space-between;  
  }
  
  nav {
    display:flex;
    justify-contents: flex-end;  
  }
  
  
  nav a {
    display:block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: white
  }
  
  
  main {
    /* como o menu ocupa 10vh, este tem 90vh para o vermo inteiro. */
    height: 90vh;
    background: url(https://miro.medium.com/v2/resize:fit:1000/1*kqgUuHyWxsdCuJ2C5O5xQg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }
  
  
  main > p {
    font-size: 3rem;
  }
  
  article.primeiro {
    /* definindo altura e cor */
    height: 90vh;
    background: orange;
    padding: 0 4vw;
    text-align: center;
    font-size: 2rem;
  }
  
  
  article.segundo {
    /* como tem menu e rodapé visíveis (10vh cada), define-se como altura 80vh. */
    height: 80vh;
    background: url(https://miro.medium.com/v2/resize:fit:1000/1*kqgUuHyWxsdCuJ2C5O5xQg.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    align-items: start;
  }
  
  footer {
    /* definindo altura e cor */
    height: 10vh;
    background: black;
    color: white;
  }


  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }